.grey {
  background-color: #CCC;
  border: 1px solid black;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.mapdiv{
  height: 500px;
}

.toolIconImg {
  height: 30px;
  margin: 10px;
}

.toolIconImg:hover {
  height: 35px;
  margin-top: 5px;
  margin-right: 5px;
}

.toolbarDiv {
  border: 1px solid white;
}

.testToolDiv {
  width: 225px;
  height: 50%;
  background-color: red;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50px;
}
